<div data-controller="counter">
  <h1>Stimulus Counter</h1>
  
  <div class="counter">
    Count: <span data-counter-target="output">0</span>
  </div>
  
  <div class="buttons">
    <button data-action="counter#decrement">-</button>
    <button data-action="counter#increment">+</button>
  </div>
  
  <div style="margin-top: 20px">
    <input type="number" 
           data-counter-target="input"
           data-action="counter#setValue"
           style="width: 60px">
    <button data-action="counter#reset">Reset</button>
  </div>
</div>
